@import "../variables";

.card {
  display: flex;
  flex-direction: column;
  font-size: $card-font-size;
  letter-spacing: 0px;
  font-weight: 400;
  overflow: hidden;
  width: $card-width;
  height: $card-height;
  z-index: $card-z-index;
  position: relative;
  background: $card-background-color;
  border-radius: $general-border-radius;
  box-sizing: border-box;
}

.card-media {
  background-color: $card-image-placeholder-color;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
  box-sizing: border-box;
}

.card-header {
  color: $card-text-color;
  display: block;
  display: flex;
  align-items: center;
  align-content: stretch;
  line-height: normal;
  padding: 60px 0px 0px 0px;
  perspective-origin: $card-header-perspective-origin-x $card-header-perspective-origin-y;
  transform-origin: $card-header-transform-origin-x $card-header-transform-origin-y;
  box-sizing: border-box;
}

.card-section {
  color: $card-text-color;
  background-color: white;
  font-size: $card-section-font-size;
  line-height: $card-section-line-height;

  & > .section-dialog {
    overflow: hidden;
    width: 96%;
    background-color: rgba(0,0,0,0);
    padding: 0.5% 2%;
    margin: 0;
    text-align: left;

    & > ul {
      padding-top: 4px;
      & > li {
        list-style: none;
      }
    }
  }

  & > .section-actions {
    color: $card-section-actions-text-color;
    font-size: $card-section-actions-font-size;
    width: 100%;
    background-color: rgba(0,0,0,0);
    padding: 8px;
    box-sizing: border-box;
  }
}

.card-actions {
  font-size: $card-section-actions-font-size;
  width: 100%;
  background-color: rgba(0,255,255,0.1);
  box-sizing: border-box;
}

.card-menu {
  position: absolute;
  right: 16px;
  top: 16px;
}

.card-header-title {
  align-self: flex-end;
  display: block;
  display: flex;
  font-size: $card-header-font-size;
  font-weight: $card-header-text-font-weight;
  line-height: normal;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  transform-origin: $card-header-text-transform-origin-x $card-header-text-transform-origin-y;
  margin: 0;
  padding: $card-header-vertical-padding $card-header-horizontal-padding;
}

.card-header-subtitle {
  align-self: flex-end;
  display: block;
  display: flex;
  line-height: normal;
  overflow: hidden;
  background-color: rgba(0,0,0,0);
  transform-origin: $card-header-text-transform-origin-x $card-header-text-transform-origin-y;
  margin: 0;
  padding: $card-section-vertical-padding $card-section-horizontal-padding;
}
