@import "../variables";
@import "../mixins";
/***
 *           /$$           /$$                      /$$             /$$      /$$
 *          | $$          | $$                     | $$            | $$     | $$
 *      /$$$$$$$ /$$$$$$ /$$$$$$   /$$$$$$        /$$$$$$   /$$$$$$| $$$$$$$| $$ /$$$$$$
 *     /$$__  $$|____  $|_  $$_/  |____  $$/$$$$$|_  $$_/  |____  $| $$__  $| $$/$$__  $$
 *    | $$  | $$ /$$$$$$$ | $$     /$$$$$$|______/ | $$     /$$$$$$| $$  \ $| $| $$$$$$$$
 *    | $$  | $$/$$__  $$ | $$ /$$/$$__  $$        | $$ /$$/$$__  $| $$  | $| $| $$_____/
 *    |  $$$$$$|  $$$$$$$ |  $$$$|  $$$$$$$        |  $$$$|  $$$$$$| $$$$$$$| $|  $$$$$$$
 *     \_______/\_______/  \___/  \_______/         \___/  \_______|_______/|__/\_______/
 *
 *
 *
 */
.datatable {
  position: relative;
  border: $data-table-dividers;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 13px;
  background-color: unquote("rgb(#{$color-white})");

  thead {
    padding-bottom: 3px;

    .datatable-select {
      margin-top: 0;
    }
  }

  tbody {
    tr {
      position: relative;
      height: $data-table-row-height;
      @include ff-animation-default(0.28s);
      transition-property: background-color;

      &.is-selected {
        background-color: $data-table-selection-color;
      }

      &:hover {
        background-color: $data-table-hover-color;
      }
    }
  }

  td, th {
    padding: 0 $data-table-column-padding 0 $data-table-column-padding;
    text-align: right;

    &:first-of-type {
      padding-left: 24px;
    }

    &:last-of-type {
      padding-right: 24px;
    }
  }

  td {
    position: relative;
    vertical-align: top;
    height: $data-table-row-height;
    border-top: $data-table-dividers;
    border-bottom: $data-table-dividers;
    padding-top: $data-table-cell-top;
    box-sizing: border-box;

    .datatable-select {
      vertical-align: top;
      position: absolute;
      left: 24px;
    }
  }

  th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    @include typo-body-2();
    height: $data-table-row-height;
    font-size: 12px;
    color: $data-table-header-color;
    padding-bottom: 8px;
    box-sizing: border-box;

    .datatable-select {
      position: relative;
    }
  }
}

.datatable-select {
  width: 16px;
}

.datatable-cell{
    &.non-numeric {
      text-align: left;
    }
}
