@import "../variables";
@import "../mixins";
/***
 *           /$$           /$$                      /$$             /$$      /$$
 *          | $$          | $$                     | $$            | $$     | $$
 *      /$$$$$$$ /$$$$$$ /$$$$$$   /$$$$$$        /$$$$$$   /$$$$$$| $$$$$$$| $$ /$$$$$$
 *     /$$__  $$|____  $|_  $$_/  |____  $$/$$$$$|_  $$_/  |____  $| $$__  $| $$/$$__  $$
 *    | $$  | $$ /$$$$$$$ | $$     /$$$$$$|______/ | $$     /$$$$$$| $$  \ $| $| $$$$$$$$
 *    | $$  | $$/$$__  $$ | $$ /$$/$$__  $$        | $$ /$$/$$__  $| $$  | $| $| $$_____/
 *    |  $$$$$$|  $$$$$$$ |  $$$$|  $$$$$$$        |  $$$$|  $$$$$$| $$$$$$$| $|  $$$$$$$
 *     \_______/\_______/  \___/  \_______/         \___/  \_______|_______/|__/\_______/
 *
 *
 *
 */
.datatable {
  border: $data-table-dividers;
  white-space: nowrap;

  thead {
    .datatable-select {
      margin-top: 0;
    }
  }

  tbody {
    tr {
      &.is-selected {
        background-color: $data-table-selection-color;
      }
    }
  }

  td, th {
    padding: 0 $data-table-column-padding 0 $data-table-column-padding;
    text-align: right;

    &:first-of-type {
      padding-left: 24px;
    }

    &:last-of-type {
      padding-right: 24px;
    }
  }

  td {
    position: relative;
    vertical-align: middle;
    height: $data-table-row-height;
    border-top: $data-table-dividers;
    border-bottom: $data-table-dividers;
    padding-top: $data-table-cell-top;
    box-sizing: border-box;

    .datatable-select {
      vertical-align: middle;
      position: absolute;
      left: 24px;
    }
  }

  th {
    .datatable-select {
      position: relative;
    }
  }
}

.datatable-select {
  width: 16px;
}

.datatable-cell{
    &.non-numeric {
      text-align: left;
    }
    &.justified {
      text-align: center;
    }
}
