/***
 *              /$$      /$$
 *             | $$     |__/
 *      /$$$$$$| $$   /$$/$$/$$$$$$$  /$$$$$$$
 *     /$$_____| $$  /$$| $| $$__  $$/$$_____/
 *    |  $$$$$$| $$$$$$/| $| $$  \ $|  $$$$$$
 *     \____  $| $$_  $$| $| $$  | $$\____  $$
 *     /$$$$$$$| $$ \  $| $| $$  | $$/$$$$$$$/
 *    |_______/|__/  \__|__|__/  |__|_______/
 *
 *
 *
 */
.skinned-page {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  z-index: 0;
}

.skinned-content {
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  z-index: 2;
}
