$preferred_font: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$performance_font: 'Helvetica', 'Arial', sans-serif !default;
@import "_color-definitions";
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}
$trim-color-classes: false !default;
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;
@if $styleguide-generate-template == true {
  $color-primary: '$color-primary';
  $color-primary-dark: '$color-primary-dark';
  $color-accent: '$color-accent';
  $color-primary-contrast: '$color-primary-contrast';
  $color-accent-contrast: '$color-accent-contrast';
}

$color-hinted: unquote("rgba(#{$color-black}, 0.12)") !default;
$color-transparent: unquote("rgba(#{$color-black}, 0.26)") !default;
$color-faded: unquote("rgba(#{$color-black}, 0.54)") !default;
$color-opaque: unquote("rgba(#{$color-black}, 0.87)") !default;

$hinted-border: 1px solid $color-hinted;
$transparent-border: 1px solid $color-transparent;
$faded-border: 1px solid $color-faded;
$opaque-border: 1px solid $color-opaque;

$general-border-radius: 2px !default;

$text-color-primary: $color-opaque;
$text-link-color: unquote("rgb(#{$color-accent})") !default;
$target-elements-directly: true !default;
$button-primary-color: unquote("rgba(#{$palette-grey-500}, 0.20)") !default;
$button-secondary-color: unquote("rgb(#{$color-black})") !default;
$button-hover-color: $button-primary-color !default;
$button-active-color: unquote("rgba(#{$palette-grey-500}, 0.40)") !default;
$button-focus-color: $color-hinted;
$button-primary-color-alt: unquote("rgb(#{$color-primary})") !default;
$button-secondary-color-alt: unquote("rgb(#{$color-primary-contrast})") !default;
$button-hover-color-alt: unquote("rgb(#{$color-primary})") !default;
$button-active-color-alt: unquote("rgb(#{$color-primary})") !default;
$button-focus-color-alt: $button-focus-color !default;
$button-ripple-color-alt: unquote("rgb(#{$color-primary-contrast})") !default;
$button-primary-color-disabled: $color-hinted;
$button-secondary-color-disabled: $color-transparent;
$button-fab-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-hover-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-active-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-text-color-alt: unquote("rgb(#{$color-accent-contrast})") !default;
$button-fab-ripple-color-alt: unquote("rgb(#{$color-accent-contrast})") !default;
$button-icon-color: unquote("rgb(#{$palette-grey-700})") !default;
$button-icon-focus-color: $button-focus-color !default;
$icon-toggle-color: unquote("rgb(#{$palette-grey-700})") !default;
$icon-toggle-focus-color: $button-focus-color !default;
$icon-toggle-checked-color: unquote("rgb(#{$color-primary})") !default;
$icon-toggle-checked-focus-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
$icon-toggle-disabled-color: $color-transparent;
$radio-color: unquote("rgb(#{$color-primary})") !default;
$radio-off-color: $color-faded;
$radio-disabled-color: $color-transparent;
$ripple-bg-color: unquote("rgb(#{$color-light-contrast})") !default;
$layout-nav-color: unquote("rgb(#{$palette-grey-300})") !default;
$layout-drawer-bg-color: unquote("rgb(#{$palette-grey-50})") !default;
$layout-drawer-border-color: unquote("rgb(#{$palette-grey-300})") !default;
$layout-text-color: unquote("rgb(#{$palette-grey-800})") !default;
$layout-drawer-navigation-color: #757575 !default;
$layout-drawer-navigation-link-active-background: unquote("rgb(#{$color-light-contrast})") !default;
$layout-drawer-navigation-link-active-color: unquote("rgb(#{$color-primary})") !default;
$layout-header-bg-color: unquote("rgb(#{$color-primary})") !default;
$layout-header-text-color: unquote("rgb(#{$color-primary-contrast})") !default;
$layout-header-nav-hover-color: unquote("rgba(#{$palette-grey-700}, 0.6)") !default;
$layout-header-tab-text-color: unquote("rgba(#{$color-primary-contrast}, 0.6)") !default;
$layout-header-tab-highlight: unquote("rgb(#{$color-accent})") !default;
$tab-highlight-color: unquote("rgb(#{$color-primary})") !default;
$tab-text-color: $color-faded;
$tab-active-text-color: $color-opaque;
$tab-border-color: unquote("rgb(#{$palette-grey-300})") !default;
$checkbox-color: unquote("rgb(#{$color-primary})") !default;
$checkbox-off-color: $color-faded;
$checkbox-disabled-color: $color-transparent;
$checkbox-focus-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
$switch-color: unquote("rgb(#{$color-primary})") !default;
$switch-faded-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
$switch-thumb-color: $switch-color !default;
$switch-track-color: unquote("rgba(#{$color-primary}, 0.5)") !default;
$switch-off-thumb-color: unquote("rgb(#{$palette-grey-50})") !default;
$switch-off-track-color: $color-transparent;
$switch-disabled-thumb-color: unquote("rgb(#{$palette-grey-400})") !default;
$switch-disabled-track-color: $color-hinted;
$spinner-color-1: unquote("rgb(#{$palette-blue-400})") !default;
$spinner-color-2: unquote("rgb(#{$palette-red-500})") !default;
$spinner-color-3: unquote("rgb(#{$palette-yellow-600})") !default;
$spinner-color-4: unquote("rgb(#{$palette-green-500})") !default;
$spinner-single-color: unquote("rgb(#{$color-primary})") !default;
$input-text-background-color: transparent !default;
$input-text-label-color: $color-transparent;
$input-text-bottom-border-color: $color-hinted;
$input-text-highlight-color: unquote("rgb(#{$color-primary})") !default;
$input-text-disabled-color: $input-text-bottom-border-color !default;
$input-text-error-color: unquote("rgb(222, 50, 38)") !default;
$range-bg-color: $color-transparent;
$range-color: unquote("rgb(#{$color-primary})") !default;
$range-faded-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
$range-bg-focus-color: $color-hinted;
$progress-main-color: unquote("rgb(#{$color-primary})") !default;
$progress-secondary-color: unquote("rgba(#{$color-primary-contrast}, 0.7)") !default;
$progress-fallback-buffer-color: unquote("rgba(#{$color-primary-contrast}, 0.9)") !default;
$list-container-item-border-color: unquote("rgb(#{$palette-grey-300})") !default;
$list-container-view-background: unquote("rgb(#{$color-white})") !default;
$default-item-text-color: $color-opaque;
$default-item-outline-color: unquote("rgb(#{$palette-grey-400})") !default;
$default-item-hover-bg-color: unquote("rgb(#{$palette-grey-200})") !default;
$default-item-focus-bg-color: unquote("rgb(#{$palette-grey-200})") !default;
$default-item-active-bg-color: unquote("rgb(#{$palette-grey-300})") !default;
$disabled-item-text-color: unquote("rgb(#{$palette-grey-400})") !default;
$default-dropdown-bg-color: unquote("rgb(#{$color-white})") !default;
$tooltip-text-color: unquote("rgb(#{$color-white})") !default;
$tooltip-background-color: unquote("rgba(#{$palette-grey-700}, 0.9)") !default;
$footer-bg-color: unquote("rgb(#{$palette-grey-800})") !default;
$footer-color: unquote("rgb(#{$palette-grey-500})") !default;
$footer-heading-color: unquote("rgb(#{$palette-grey-300})") !default;
$footer-big-heading-color: unquote("rgb(#{$palette-grey-300})") !default;
$footer-button-fill-color: $footer-color !default;
$footer-underline-color: $footer-color !default;

$input-text-font-size: 16px;
$input-text-width: 100%;
$input-text-padding: 4px;
$input-text-ripple-size: 32px;
$input-text-vertical-spacing: 20px;
$input-text-button-size: 32px;
$input-text-floating-label-fontsize: 12px;
$input-text-expandable-icon-top: 16px;
$switch-label-height: 24px;
$switch-track-height: 14px;
$switch-track-length: 36px;
$switch-thumb-size: 20px;
$switch-track-top: ($switch-label-height - $switch-track-height) / 2;
$switch-thumb-top: ($switch-label-height - $switch-thumb-size) / 2;
$switch-ripple-size: $switch-label-height * 2;
$switch-helper-size: 8px;
$spinner-size: 28px !default;
$spinner-stroke-width: 3px !default;
$spinner-arc-size: 270deg;
$spinner-arc-time: 1333ms;
$spinner-arc-start-rot: 216deg;
$spinner-duration: 360 * $spinner-arc-time / (
    strip-units($spinner-arc-start-rot + (360deg - $spinner-arc-size)));
$radio-label-height: 24px;
$radio-button-size: 16px;
$radio-inner-margin: $radio-button-size / 4;
$radio-padding: 8px;
$radio-top-offset: ($radio-label-height - $radio-button-size) / 2 - 2px;
$radio-ripple-size: 42px;
$menu-expand-duration: 0.3s;
$menu-fade-duration: 0.2s;
$list-container-height: 500px;
$list-container-width: 400px;
$list-container-item-height: 70px;
$layout-drawer-narrow: 240px;
$layout-drawer-wide: 456px;
$layout-drawer-width: $layout-drawer-narrow;
$layout-header-icon-size: 32px;
$layout-screen-size-threshold: 1024px;
$layout-header-icon-margin: 24px;
$layout-drawer-button-mobile-size: 32px;
$layout-drawer-button-desktop-size: 48px;
$layout-header-mobile-row-height: 56px;
$layout-mobile-header-height: $layout-header-mobile-row-height;
$layout-header-desktop-row-height: 64px;
$layout-desktop-header-height: $layout-header-desktop-row-height;
$layout-header-desktop-baseline: 80px;
$layout-header-mobile-baseline: 72px;
$layout-header-mobile-indent: 16px;
$layout-header-desktop-indent: 40px;
$layout-tab-bar-height: 48px;
$layout-tab-mobile-padding: 12px;
$layout-tab-desktop-padding: 24px;
$layout-tab-highlight-thickness: 2px;
$icon-toggle-size: 32px !default;
$icon-toggle-font-size: 24px !default;
$icon-toggle-ripple-size: 36px !default;

$padding: 16px !default;
$thin-padding: 2px !default;

$footer-heading-font-size: 14px !default;
$footer-heading-line-height: (1.7 * $footer-heading-font-size) !default;
$footer-btn-size: 18px  !default;

$footer-big-padding: 16px !default;
$footer-big-padding-sides: 40px !default;
$footer-big-heading-font-size: 24px !default;
$footer-big-heading-line-height: (1.5 * $footer-big-heading-font-size) !default;
$footer-big-btn-size: 36px !default;

$columns-tablet-size: 768px;
$columns-desktop-size: 1024px;
$columns-web-count: 3;
$columns-web-size: 360px;
$columns-web-gutter: 40px;
$columns-web-block-size: $columns-web-size + $columns-web-gutter;
$columns-web-padding-size: $columns-web-count *
    ($columns-web-size + $columns-web-gutter) / 2;
$columns-tablet-count: 2;
$columns-tablet-gutter: 24px;
$columns-tablet-percent: 100% / $columns-tablet-count;
$columns-phone-count: 1;
$columns-phone-gutter: 16px;
$columns-phone-percent: 100% / $columns-phone-count;

$checkbox-label-height: 24px;
$checkbox-button-size: 16px;
$checkbox-inner-margin: 2px;
$checkbox-padding: 8px;
$checkbox-top-offset:
($checkbox-label-height - $checkbox-button-size - $checkbox-inner-margin) / 2;
$checkbox-ripple-size: $checkbox-label-height * 1.5;

$card-background-color: unquote("rgb(#{$color-white})") !default;
$card-text-color: unquote("rgb(#{$color-black})") !default;
$card-image-placeholder-color: unquote("rgb(#{$color-accent})") !default;
$card-section-actions-text-color: $color-faded;
$card-border-color: rgba(0,0,0,0.1) !default;
$card-width: 100%;
$card-height: 100%;
$card-horizontal-padding: 16px !default;
$card-vertical-padding: 16px !default;
$card-font-size: 16px !default;
$card-header-font-size: 24px !default;
$card-header-perspective-origin-x: 165px !default;
$card-header-perspective-origin-y: 56px !default;
$card-header-transform-origin-x: 165px !default;
$card-header-transform-origin-y: 56px !default;
$card-header-horizontal-padding: 0px !default;
$card-header-vertical-padding: 12px !default;
$card-header-text-transform-origin-x: 149px !default;
$card-header-text-transform-origin-y: 48px !default;
$card-header-text-font-weight: 300 !default;
$card-section-line-height: 18px !default;
$card-section-font-size: 13px !default;
$card-section-actions-font-size: 16px !default;
$card-section-horizontal-padding: 0px !default;
$card-section-vertical-padding: 8px !default;
$card-z-index: 1 !default;
$card-cover-image-height: 186px !default;
$card-background-image-url: '' !default;
$button-min-width: 64px !default;
$button-height: 36px !default;
$button-padding: 8px !default;
$button-margin: 4px !default;
$button-border-radius: 2px !default;
$button-fab-size: 56px !default;
$button-fab-size-mini: 40px !default;
$button-fab-font-size: 24px !default;
$button-icon-size: 32px !default;
$button-icon-size-mini: 24px !default;
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;
$bar-height: 4px !default;
$badge-color: unquote("rgb(#{$color-white})") !default;
$badge-color-inverse: unquote("rgb(#{$color-accent})") !default;
$badge-background: unquote("rgb(#{$color-accent})") !default;
$badge-background-inverse: unquote("rgba(#{$color-white},0.2)") !default;
$badge-size : 22px;
$badge-padding: 2px;
$shadow-key-umbra-opacity: 0.2;
$shadow-key-penumbra-opacity: 0.14;
$shadow-ambient-shadow-opacity: 0.12;
$glow-key-umbra-opacity: 0.3;
$glow-key-penumbra-opacity: 0.24;
$glow-ambient-shadow-opacity: 0.22;
$grid-desktop-columns: 12 !default;
$grid-desktop-gutter: 16px !default;
$grid-desktop-margin: 16px !default;
$grid-desktop-breakpoint: 840px !default;
$grid-tablet-columns: 8 !default;
$grid-tablet-gutter: $grid-desktop-gutter !default;
$grid-tablet-margin: $grid-desktop-margin !default;
$grid-tablet-breakpoint: 480px !default;
$grid-phone-columns: 4 !default;
$grid-phone-gutter: $grid-desktop-gutter !default;
$grid-phone-margin: $grid-desktop-margin !default;
$cell-default-columns: $grid-phone-columns !default;
$table-border-color: rgba(#000, 0.12);
$table-borders: 1px solid $table-border-color;
$table-row-height: 32px;
$data-table-header-color: rgba(#000, 0.54);
$data-table-divider-color: rgba(#000, 0.12);
$data-table-hover-color: #eeeeee;
$data-table-selection-color: #e0e0e0;
$data-table-dividers: 1px solid $data-table-divider-color;
$data-table-row-height: 48px;
$data-table-last-row-height: 56px;
$data-table-header-height: 56px;
$data-table-column-spacing: 36px;
$data-table-column-padding: $data-table-column-spacing / 2;
$data-table-card-header-height: 64px;
$data-table-card-title-top: 20px;
$data-table-card-padding: 24px;
$data-table-button-padding-right: 16px;
$data-table-cell-top: $data-table-card-padding / 2;
